<ion-header class="ion-no-border d-md-none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<div style="background: #b4b2ad;">
  <div class="profile_content ion-padding">
      <div class="profile">
        <ion-thumbnail>
          <ion-icon name="log-out"></ion-icon>
        </ion-thumbnail>
      </div>
    </div>
  </div>




<ion-content>
 <ion-grid fixed>
<ion-row class="ion-justify-content-center">
<div class="col-lg-6 col-md-10">

    <ion-buttons slot="start" class="d-none d-md-block">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="item">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label>New Password</ion-label>
            <ion-input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label>Retype New Password</ion-label>
            <ion-input type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"></ion-input>
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="loading" class="btn-block">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Update
          </ion-button>
        </ion-col>
      </ion-row>
  </div>
</form>

            </div>
              </ion-row>
              </ion-grid>
</ion-content>
