ion-toolbar
{
    --background: #88038d;
    --padding-top: 30px;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}


    .profile_content {
      background: #88038d;
      border-radius: 0px 0px 20% 20%;

      .profile {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }
      }
    }

ion-content
{
    --background: #b4b2ad;


                .content {
                  background: #ffff;
                  border-radius: 20px;
                  .title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 5px 0px;
                    background: #88038d;
                    border-radius: 20px 20px 0px 0px;
                    h6 {
                      margin: 10px 20px;
                      color: #ffff;
                    }
                  }
                  .items {
                    padding: 20px 0px;
                    ion-item {
                      --padding-start: 10px;
                      margin: 10px 15px;
                      --background: #88038d;
                      ion-buttons {
                        ion-icon {
                          color: #ffffff;
                          width: 15px;
                          height: 15px;
                        }
                      }
                    }
                  }
                  .ttl2 {
                    margin: 5px 0px;
                    background: #ff9ec560;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    h6 {
                      margin: 10px 20px;
                      color: #ff438e;
                    }
                  }
                }

                .contain {
                  margin: 8vw 0;
                }
}
