ion-toolbar
{
    --background: #88038d;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}

    .profile_content {
      background: #88038d;
      border-radius: 0px 0px 20% 20%;

      .profile {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }
      }
    }

ion-content
{
    --background: #b4b2ad;
 
 
    .btn-holder
    {
        margin-top: 30px;
        ion-button
        {
            margin: 0 auto;
        }
    }

.contain {
margin: 0 0 8vw 0;
}


ion-item {
  --background: rgba(255, 255, 255, 0.05);
  --padding-end: 0px;
  border-radius: 10px;
  margin: 10px 0px;
  .btn {
    ion-button {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
}


}
