ion-toolbar
{
    --background: #06038D;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}

    .profile_content {
      background: #06038D;
      border-radius: 0px 0px 100% 100%;
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ion-buttons {
          margin: 0px;
          --border-radius: 50%;
          ion-button {
            margin: 0px;
            height: 40px;
            width: 40px;
            background: #ffff;
            border-radius: 50%;
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }

            h5
            {
                color: #9496BA;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 8vw;
                margin: 5px 0;
            }
        .text {
          width: 100%;
          margin: 20px 0px;
          ion-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-col {
              h6 {
                font-size: 20px;
                margin: 2px;
              }
              ion-label {
                font-size: 13px;
                color: gray;
              }
            }
          }
        }
      }

      .profilee {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }

            h5
            {
                color: #9496BA;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 3vw;
                margin: 5px 0;
            }
        .text {
          width: 100%;
          margin: 20px 0px;
          ion-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-col {
              h6 {
                font-size: 20px;
                margin: 2px;
              }
              ion-label {
                font-size: 13px;
                color: gray;
              }
            }
          }
        }
      }
    }



    .category_div2 {
      overflow: scroll;
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: row;
      margin: 0px 0px 0px 0px;
      background: #EAB355;
      .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        .item {
              padding: 5px 5px;
              width: 104px;
              background: #ffffff;
              border-radius: 10px;
              height: 104px;
              margin: 0px 7px 5px 0px;

              .top-row
              {
                  height: 50%;
                  img
                  {
                      border-radius: 20px;
                      position: relative;
                      height: 100%;
                      width: 100%;
                  }

                  h2
                  {
                      color: #9496BA;
                      font-family: 'CSMedium';
                      font-size: 12px;
                      margin: 0;
                  }
              }

              h1
              {
                  padding: 10px 10px 0px 10px;
                  color: var(--ion-color-light);
                  font-family: 'CSMedium';
                  font-size: 10px;
                  margin: 8px 0;
              }
          ion-label {
            font-size: 12px;
            margin-top: 5px;
          }
          ion-thumbnail {
            border-radius: 50%;
            padding: 2px;
            margin: 2px;
            height: 35px;
            width: 35px;
            --background: transparent;
            border: 2px solid rgb(80, 61, 245);
            position: relative;
            ion-icon {
              background: rgb(80, 61, 245);
              border-radius: 20px;
              position: absolute;
              bottom: -22px;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 23px;
            }
            img {
              border-radius: 50%;
            }
          }
        }
      }
    }

ion-content
{
    --background: #EAB355;
    .logo-holder
    {
        width: 100%;
        .the-logo
        {
            position: relative;
            width: fit-content;
            margin: 1vw auto 0 auto;
            img
            {
                height: 7rem;
            }
 
            .small-circle
            {
                border-radius: 50%;
                border: 8px solid #c869f4d8;
                background: #FBEEFF;
                height: 2rem;
                position: absolute;
                top: 0;
                right: 20px;
                width: 2rem;
            }
 
            .name-holder
            {
                h1
                {
                    color: #FBEEFF;
                    font-family: 'CSBold';
                    margin-top: 5px;
                }
            }
        }
    }
 
    .the-form
    {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 10px;
      position: relative;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 2vw 4vw;
      margin: 1vw auto 2vw auto;
      .input-item
      {
          margin: 20px 0;
          ion-label
          {
              color: #9496BA;
              font-family: 'CSMedium';
          }
          ion-item
          {
              --background: rgba(255, 255, 255, 0.05);
              backdrop-filter: blur(5px) !important;
              border-radius: 15px;
              margin-top: 10px;
              ion-input
              {
                  color: white;
                  font-family: 'CSBook';
              }
  
              .password
              {
                  ion-icon
                  {
                      color: #A0A3BD;
                  }
              }
          }
      }
      .form-check-label {
          font-size: 14px;
      }
      ion-select {
          width: 50%;
          max-width: 100px;
          font-size: 10px;
      }
    }
 
    .title-holder
    {
        margin: 1vw auto 3vw auto;
        font-family: 'CSBold';
        h1
        {
            color: #EDEEFA;
            font-family: 'CSBold';
            font-size: 30px;
        }
    }
 
 
    .btn-holder
    {
        margin-top: 30px;
        ion-button
        {
            margin: 0 auto;
        }
    }
 
    .social-holder
    {
        margin-top: 20px;
        .btn
        {
             background: rgba(255, 255, 255, 0.05);
             border-radius: 10px;
             height: 45px;
             margin: 0 10px;
             width: 45px;
        }
    }
 
    .bottom-holder
    {
        h5
        {
            color: #9496BA;
            font-family: 'CSBook';
            font-size: 12px;
        }
 
        h3
        {
            color: #FFFF;
            font-family: 'CSMedium';
            font-size: 12px;
            margin-top: 0;
        }
    }
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  ion-label {
    font-size: 15px;
  }
  ion-buttons {
    ion-button {
      height: 27px;
      width: 27px;
      background: #ffff;
      border-radius: 50%;
    }
  }
  .icn {
    position: absolute;
    top: 32px;
    right: 10px;
    ion-button {
      border-radius: 30px;
      background: linear-gradient(rgb(255, 145, 218), rgb(255, 9, 202));
      height: 13px;
      width: 13px;
      font-weight: bold;
      font-size: 10px;
    }
  }
}

.contain {
margin: 0 0 8vw 0;
}

.service-holder-d
{
    ion-row
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
        ion-col
        {
          padding: 5px 10px;
            .card
            {
                background: var(--ion-color-primary);
                border-radius: 10px;
                height: auto;

                .top-row
                {
                    height: 50%;
                    img
                    {
                        border-radius: 10px;
                        width: 220px;
                    }

                    h2
                    {
                        color: #9496BA;
                        font-family: 'CSMedium';
                        font-size: 12px;
                        margin: 0;
                    }
                }

                h1
                {
                    padding: 10px 10px 0px 10px;
                    color: #ffffff;
                    font-family: 'CSMedium';
                    font-size: 10px;
                    margin: 8px 0;
                }


                .bottom-row
                {
                    padding: 0px 10px 10px 10px;
                    h4
                    {
                        color: #ffffff;
                        font-family: 'CSMedium';
                        font-size: 10px;
                        margin: 0;
                    }

                    .up
                    {
                        h5,ion-icon
                        {
                            color: #ffffff;
                        }
                    }

                    .down
                    {
                        h5
                        {
                            color: #F03737;
                        }
                    }

                    .status
                    {
                      ion-icon
                      {
                          height: 10px;
                          width: 10px;
                          margin-right: 2px;
                      }

                        h5
                        {
                            font-family: 'CSMedium';
                            font-size: 10px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.service-holder-m
{
      ion-item
      {
          --background: var(--ion-color-primary);
          border-radius: 10px;
          margin: 6px 0;


              img {
                border-radius: 10px 0 0 10px;
                width: 35%;
                margin: 0;
            }


          ion-col
          {

              h2
              {
                  color: #ffffff;
                  font-size: 11px;
                  margin: 0;
              }

              .up
              {
                  h5,ion-icon
                  {
                      color: #58E45D;
                  }
              }

              .down
              {
                  h5,ion-icon
                  {
                      color: #F03737;
                  }
              }



              h5
              {
                  color: yellow;
                  font-family: 'CSMedium';
                  font-size: 8px;
                  margin: 0px;
                  ion-icon {
                    margin: 2px 0 0 2px;
                  }
              }
              h6
              {
                  color: yellow;
                  font-family: 'CSMedium';
                  font-size: 12px;
                  margin: 0px;
              }
          }

          .end-slot1
          {
              img
              {
                  height: 10vw;
              }
          }

          .end-slot2
          {
              margin-left: 10px;
              h2
              {
                  color: #ffffff;
                  font-family: 'CSMedium';
                  font-size: 10px;
                  margin: 0;
              }



              h5
              {
                  color: #ffffff;
                  font-family: 'CSMedium';
                  font-size: 10px;
                  margin: 0;
              }
          }
      }
}

    .conv {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
      ion-icon {
        font-size: 13px;
      }
      ion-label {
        font-size: 11px;
        margin-left: 6px;
      }
      ion-buttons {
        ion-button {
          border-radius: 10px;
          background: #ffffff;
          color: #000000;
          width: 40vw;
        }
      }
      .icn {
        position: absolute;
        top: 32px;
        right: 10px;
        ion-button {
          border-radius: 30px;
          background: linear-gradient(rgb(255, 145, 218), rgb(255, 9, 202));
          height: 13px;
          width: 13px;
          font-weight: bold;
          font-size: 10px;
        }
      }
    }
        .convv {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin: 10px 0;
          ion-icon {
            font-size: 13px;
          }
          ion-label {
            font-size: 11px;
            margin-left: 6px;
          }
          ion-buttons {
            ion-button {
              border-radius: 10px;
              background: #ffffff;
              color: #000000;
              width: 7vw;
            }
          }
          .icn {
            position: absolute;
            top: 32px;
            right: 10px;
            ion-button {
              border-radius: 30px;
              background: linear-gradient(rgb(255, 145, 218), rgb(255, 9, 202));
              height: 13px;
              width: 13px;
              font-weight: bold;
              font-size: 10px;
            }
          }
        }


        .top-holder
        {

            h5
            {
                color: #9496BA;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 30px;
                margin: 5px 0;
            }

            .top-btns-holder
            {
                ion-item
                {
                    --background: #ffffff;
                    --border-radius: 15px;
                    margin: 0 0 5px 0;
                    .thumb
                    {
                        background: #0066FF;
                        border-radius: 11px;
                        height: 34px;
                        width: 34px;
                        margin: 5px 0 5px 0 ;
                    }

                    ion-label
                    {
                        color: var(--ion-color-light);
                        font-family: 'CSMedium';
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }


ion-item {
  --background: rgba(255, 255, 255, 0.05);
  --padding-end: 0px;
  border-radius: 10px;
  margin: 10px 0px;
  ion-thumbnail {
    --border-radius: 50%;
    margin: 8px;
    position: relative;
    height: 35px;
    width: 35px;
    ion-icon {
      background: #2dd36f;
      border-radius: 20px;
      border: 3px solid #ffff;
      position: absolute;
      top: -1px;
      right: -3px;
      font-size: 13px;
    }
  }
  .text {
    h5 {
      margin: 0px 0px 2px 0px;
      font-size: 12px;
    }
    ion-label {
      font-size: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: row;
      ion-icon {
        font-size: 20px;
        margin: 2px 2px;
      }
    }
  }
  ion-buttons {
    margin: 0px;
    ion-button {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
  .btn {
    ion-button {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
}


}
