ion-toolbar
{
    --background: #88038d;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}
ion-content
{
    --background: #b4b2ad;

   .the-form
   {
     background: rgba(255, 255, 255, 0.05);
     border-radius: 10px;
     position: relative;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: auto;
     padding: 2vw 4vw;
     margin: 1vw auto 2vw auto;
     .forgot-holder {
         font-size: 13px;
         margin-bottom: 5px;
         --color: #88038d;
     }
   }

   .title-holder
   {
       margin: 1vw auto 3vw auto;
       font-family: 'CSBold';
       h1
       {
           color: #EDEEFA;
           font-family: 'CSBold';
           font-size: 30px;
       }
   }


   .btn-holder
   {
       margin-top: 30px;
       ion-button
       {
           margin: 0 auto;
       }
   }

   .bottom-holder
   {
       h5
       {
           color: #9496BA;
           font-family: 'CSBook';
           font-size: 12px;
       }
   }
}
