<ion-header class="ion-no-border d-md-none">
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal">

  <ion-grid fixed>
 <ion-row class="ion-justify-content-center">
   <div class="the-form col-lg-6">
     <div class="title-holder ion-text-center">
       <h2>Login</h2>
     </div>
  <div class="the-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="input-item form-group">
        <ion-input type="text" formControlName="email" placeholder="email address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
       <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email is invalid</div>
        </div>
    </div>

    <div class="input-item form-group">
        <ion-input [type]="ptype" formControlName="password" placeholder="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>

    <div class="forgot-holder ion-text-right">
      <a routerLink="forgot-password">Forgot Password?</a>
    </div>
    <div>
      <ion-button [disabled]="loading" type="submit" expand="block">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
      </ion-button>
    </div>
    </form>
  </div>

  <div class="bottom-holder ion-text-center">
    <h5>You don’t have an account?</h5>
      <a (click)="onRegister()">Sign Up</a>
  </div>
</div>
</ion-row>
  </ion-grid>

</ion-content>