ion-toolbar
{
    --background: #88038d;
    --padding-top: 30px;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}

    .profile_content {
      background: #88038d;
      border-radius: 0px 0px 100% 100%;
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ion-buttons {
          margin: 0px;
          --border-radius: 50%;
          ion-button {
            margin: 0px;
            height: 40px;
            width: 40px;
            background: #ffff;
            border-radius: 50%;
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }
        h5 {
          font-size: 25px;
        }
        .text {
          width: 100%;
          margin: 20px 0px;
          ion-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-col {
              h6 {
                font-size: 20px;
                margin: 2px;
              }
              ion-label {
                font-size: 13px;
                color: gray;
              }
            }
          }
        }
      }
    }

ion-content
{
    --background:  #b4b2ad;

    .top-holder
    {

        .profile-holder
        {
            ion-avatar
            {
                border: 2px solid white;
                --border-radius: 35px;
                height: 6rem;
                position: relative;
                width: 6rem;


               .btn
                {
                    background: #88038d;
                    border-radius: 50%;
                    color: white;
                    height: 2.5rem;
                    position: absolute;
                    bottom: -10px;
                    right: -20px;
                    width: 2.5rem;
                }
            }

            h1
            {
                color: var(--ion-color-light);
                font-family: 'CSBold';
                margin-bottom: 0;
            }

            p
            {
                color:#ffffff;
                font-family: 'CSBook';
                margin: 0;
            }
        }
    }

    .contain {
      margin: 8vw 0;
    }


    .the-list
    {
        margin-top: 3vw;
        ion-item
        {
            --background: #88038d;
            --detail-icon-color: #ffffff;
            --detail-icon-opacity:1;
            border-radius: 10px;
            margin: 5px;
            ion-buttons {
              margin: 0px;
              ion-icon {
                color: #ffffff;
              }
            }
            .thumb
            {
                img
                {
                    height: 16px;
                }
            }

            ion-label
            {
                color: #ffffff;
                font-family: 'CSMedium';
                font-size: 15px;
            }

            ion-toggle
            {
                --background-checked:#35C244;
            }
        }
    }
}


.floatanimation1
{
    animation: float 5s ease-in-out  infinite ;
}

.floatanimation2
{
    animation: float2 3s ease-in-out infinite ;
}

@keyframes float
{
    0%
    {
        transform: translateY(0px);
    }

    50%
    {
        transform: translateY(-20px);
    }

    100%
    {
        transform: translateY(0px);
    }
}

@keyframes float2
{
    0%
    {
        transform: translateY(-20px);
    }

    50%
    {
        transform: translateY(0px);
    }

    100%
    {
        transform: translateY(-20px);
    }
}
